*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    font-family: 'Roboto';font-size: 22px;
    background-color: #fff;
  
}
.container{
  width:1200px;
    margin: auto;
  
}  
header{
    padding: 30px 0px;
}
.logo{
    float: left;
}
nav{
    float: right;
}
nav span{
    display: none;
}
nav span:hover{
    background-color: black;
    height: 200px;
    width: 200px;
}
nav ul{
    list-style: none;
}
nav ul li{
    
display: inline;
padding: 10px;


}
nav ul li:last-child{
    background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 104.29%);
border-radius: 5px;
color: #fff;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
}
nav ul li a{
    color: #000;
    text-decoration: none;
}
.container:after{
    content: '';
    display: block;
    clear: both;
}
.banner{
position: relative;
background: linear-gradient(90deg, #FFFCEB 0%, #EAFFFE 100%);
min-height: 400px;
padding: 40px 0px;
}
.bleft{
    float: left;
}
.bleft h1{
    width: 399px;
height: 136px;
font-family: Product Sans;
font-weight: normal;
font-size: 45px;
}
.bleft p{
    width: 382px;
height: 76px;
font-size: 18px;
line-height: 140.62%;
font-family: Roboto;
margin-bottom: 50px;
}
.bright{
    float: right;
    
}
.bright img{
/* 
position: absolute;
width: 762px;
height: 607.47px;
left: 569px;
top: 145px; */
display: block;
padding: 20px 0px;


}
button{
    background: #798BFE;
border-radius: 5px;
width: 150px;
height: 55px;
color: #fff;
}
.message{
    margin: 30px 0px;
}
.mleft{
    float: left;
    width: 50%;
}
.mleft img{
    width: 70%;
}
.mright{
    float: right;
    width: 50%;
}
.mright h2{
    width: 422px;
    height: 84px;
    font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 42px;
}
.mright h3{
    width: 470px;
height: 76px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
padding: 10px 0px;
}
.mright p{
    width: 470px;
height: 79px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
padding: 20px 0px;
margin-bottom: 50px;


}
.mright a{
    margin: 20px 0px;
    text-decoration-line: underline;
    font-size: 16px;

color: #798BFE;
}
.training h3{
  text-align: center;
 padding: 30px 0px;
}
.col{
    width: 25%;
    float: left;
   
}

.col h4{
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
width: 230px;
height: 90px;
padding: 20px 0px;
}
.col span{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
width: 230px;
height: 79px;



}
.col button{
    margin: 20px 0px;
}
.footer{
    margin: 60px 0px;
}
.ftop{
    border-bottom: 1px solid #DAD9D9;
    padding: 20px 0px;

}
.ftop i{
    display: none;
}
.fcolumn{
    width: 20%;
    float: left;
}
.fcolumn ul{
    list-style: none;
}
.fcolumn ul li{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
align-items: center;


}

/* .ftop{
    border-bottom: 1px solid #DAD9D9;
} */
.fbottom{
    padding: 20px 0px;
}
.fbottom span{
    font-size: 12px;
    margin-top: 10px;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
.fcolumn:after{
    content: '';
    clear: both;
    display: block;
}
.clearfix:after{
    content: '';
    clear: both;
    display: table;
}
.social-links{
    display: none;
}
/* .fa{
    display: none;
    float: right;
}.fa */














@media screen and (max-width:780px){
    .container{
                width: 100%;
                padding: 0px 20px;
             }
             header{
                 margin: 0px 25px;
             }
   nav ul{display: none;}
   nav span {
       display: block;
   }
   .bleft{
       width: 50%;

   }
   .bleft h1{
    width: 300px;
    height: 98px;
    font-size: 29px;
line-height: 49px;
   }
   .bleft p{
    font-size: 14px;
    width: 300px;
    height: 60px;
    line-height: 140.62%;
    margin-right: 7px;
   }
   .bright{
       width:50%;
   }
   .bright img{
      width: 80%;

   }
  
   .mleft{
       width: 50%;
   }
   .mright{
       float: right;
       padding: 0px 10px;
   }
   .mright h2{
    font-size: 26px;
    line-height: 36px;
    align-items: center;
   }
   .col{
       width: 50%;
       text-align: center;
       
   }
   .fcolumn{
       width: 33%;
       margin: 10px 0px;
   }
   .social-links{
    display:block;
}
.fright img{
    display: none;
}

  
  
   
   


}


@media screen and (max-width:480px){
    .bleft,.bright{
        width: 100%;
    }
    .mleft,.mright {
        width: 100%;
    }
    .mleft img{
        width: 100%;
    }
    .mright h2{
        font-size: 26px;
        line-height: 36px;
        width: 335px;
        margin: auto 0px;
       
    }
    .col{
        width: 100%;
        position: relative;
        
    }
    .col img{
        width: 100%;
    }

    .fcolumn{
        width: 100%;
    }
    .fcolumn ul{
        display: none;

    }
    .fcolumn h4{
        border-bottom: 1px solid rgba(218, 217, 217, 0.5);
        font-style: normal;
font-weight: normal;
font-size: 16px;
    }
}
