.header{
    background-color: #0e57aa;
}
/* .textColor{
    color:#0e57aa;
} */
.navbar-light .navbar-nav .nav-link {
    color:#0e57aa !important;
}

 .sliderImage{
  width: 100%;
  height: 400px;
}
.text-primary {
    color: blue !important;
}
.textSize{
    font-size: 14px;
}
.icons{
    vertical-align: middle;
    font-size: 20px;
}
.nav{
    
}




@media only screen and (max-width: 576px){
    .logo{
    width:130px;
    }
    .icons{
        margin-top: -40px;
    }
}
/* 
@media only screen and (max-width: 576px){
 
    
{
    margin-top: -24px;
}
} */
