body {
  background-color: #34495e;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  position: absolute;
  top: 100px;
}
/* .box{
  margin-top: 50px;
  
} */
.figure-part{
  visibility: hidden;
}
.box{

    position: absolute;
    top: 404px;
}



