.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
 }
 h4{
     text-align: center;
    
 }
 .onlineIcon{
    margin-right: 5%;
    margin: 40px;
 }
 .rightInnerContainer{
     margin-right: 40px;
 }